@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light dark; }
body { @apply text-gray-900 dark:text-gray-100; }

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px; /* Adjust width */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(75, 140, 75, 0); /* or transparent */
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2d6a2d;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

/* Dark mode */
.dark ::-webkit-scrollbar-thumb {
  background-color: #88b88b;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #3d6a3d;
}

.dark ::-webkit-scrollbar-track {
  background-color: #3a3a3a;
}
